
html{
    font-size: 62.5%;
}

body{
    font-size: 17px;
}


.card{
    width: 40rem;
    background-color: aquamarine;
    height: 60rem;
    padding-left: 3rem;
    margin-top: 2rem;
}
.img2{
 height: 30rem;
 width: 30rem;
 background-image: url("img.jpg");
 background-size: cover;
}

.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.body{
    background-color: bisque;

}

.title{
    align-items: center;
    text-align: center;
}

.img{
    height: 30rem;
    width: 35rem;

}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

}

.btn1{
   padding-right: 2rem;
   margin-right: 2rem;
   border: 2px solid transparent;
   border-radius: 3rem;
}

.btn1:hover{
  border: .2px solid black;
  background-color: rgb(208, 223, 42);
  
}
.btn1 :enabled{
    border: .2px solid black;
  background-color: rgb(208, 223, 42);
  border-radius: .3rem;
}

.card{
    border: .2rem solid transparent;
}

.card:hover{
    border: .2px solid black;
    
    border-radius: .3rem;
    background-origin: padding-box;
  }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
  }


  @media screen and (max-width: 600px) and (min-width: 500px )
  {
    html{
        font-size: 50%;
    }  

    .img{
        height:200px ;
    }
  }

  @media screen  and(max-width: 900) and (mind-width:800) {
    html{
        font-size: 75%;
    }
  }

  @media screen  and (min-width: 350) and (max-width: 420) {
    html{
        font-size:45%;
    }
  }


  .btn-group{
    display: flex;
    justify-content: space-around;
  }